body {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:black ;
  font-family: 'Jost';
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.quadrado {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 500px;
  max-height: 825px;
  max-width: 715px;
  border-radius: 15px;
  background-color: #E8F1F2;
}

.logo {
  padding-top: 5%;
  margin: 0;
}

.credenciais {
  opacity: 60%;
}

.email{
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 300px;
}

.senha {
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 300px;
}

.forget {
  text-decoration: underline;
  opacity: 60%;
}

.cadastro {
  text-decoration: underline;
  opacity: 60%;
}

