body {
  display:flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Jost", sans-serif;
}

.quadrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8F1F2;
  height: 580px;
  width: 500px;
  max-height: 825px;
  max-width: 715px;
  border-radius: 20px;
}

.logo {
  height: 64px;
  width: 64px;
}