body {
  display:flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Jost", sans-serif;
}

input{
  margin: 0px;
  padding: 5px;
  border: 0px;
}

.quadrado {
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #E8F1F2;
  height: 580px;
  width: 500px;
  max-height: 825px;
  max-width: 715px;
  border-radius: 10px;
}

.logo {
  margin: 0px;
  height: 160px;
  width: 160px;
}

.Bem-vindo {
  margin: 0px;
  padding: 0px;
}

.cadastro {
  margin: 0px;
  opacity: 60%;
}

.email{
  border: 0px;
  margin: 0px;
  width: 300px;
  height: 20px;
  max-width: 500px;
  max-height: 300px;
}

.senha {
  border: 0px;
  margin: 0px;
  width: 300px;
  height: 20px;
  max-width: 500px;
  max-height: 300px;
}

.usuario {
  border: 0px;
  margin: 0px;
  width: 300px;
  height: 20px;
  max-width: 500px;
  max-height: 300px;
}

h4{
  margin-top: 15px;
}

.entrar {
  margin-top: 20px;
  display: flex;
  margin-left: 90px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 28px;
  color: white;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  background: #2075C2;
}